@charset "UTF-8";
* {
  box-sizing: border-box;
  color: #292727;
}
body {
  background: url(/pf/img/overlay.gif) no-repeat center center / cover
}
.openTabVertical {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.openTabVertical .tab {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  position: absolute;
  left: 30px;
  z-index: 10;
}
.tabButton {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.tabButton:nth-child(1) {
  font-size: 28px;
  font-family: 'Ephesis', cursive;
  padding: 20px 0 0;
  margin: 0 0 30px 0;
}
.tabButton:hover::before,
.tabButton.on::before {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  content: "";
  background: rgba(64, 138, 184, 0.3);
}
.tabButton.on,
.tabButton:hover {
  color: #66a1c6;
}
.openTabVertical .contents {
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  margin: 0 auto;
  box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.09);
}
.contents .tabBox {
  width: 100%;
  height: 100%;
  display: none;
  color: #000;
  padding: 90px 80px;
}
.contents .tabBox.on {
  display: block;
}
.AboutBox {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4%;
  margin: 0 auto;
  animation: fadein 1s steps(40, end) forwards, blink .5s step-end infinite alternate;
  ;
}
.AboutBox .AboutBox-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home h2:nth-child(1) {
  width: 290px;
  height: 28px;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
  overflow: hidden;
  animation: type 1.3s steps(40, end) forwards;
}
.home h2:nth-child(2) {
  opacity: 0;
  width: 480px;
  height: 42px;
  font-weight: 700;
  font-size: 40px;
  overflow: hidden;
  animation: type2 1.8s steps(40, end) 2s forwards, blink .5s step-end infinite alternate;
}
.home div {
  padding: 100px 0;
}
.home div span {
  display: block;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
}
.home div span:nth-child(1) {
  opacity: 0;
  width: 320px;
  overflow: hidden;
  animation: type2 1.8s steps(40, end) 4s forwards
}
.home div span:nth-child(2) {
  opacity: 0;
  width: 450px;
  overflow: hidden;
  animation: type2 1.8s steps(40, end) 6s forwards
}
.home div span:nth-child(3) {
  opacity: 0;
  width: 400px;
  overflow: hidden;
  animation: type2 1.8s steps(40, end) 8s forwards
}
.AboutBox-l .skill-box h2 {
  font-weight: 700;
  font-size: 24px;
  color: #66a1c6;
  margin-bottom: 20px;
}
.AboutBox div ul {
  display: flex;
  gap: 20px;
}
.AboutBox div ul li img {
  width: 40px;
  height: 40px;
}
.AboutBox-r {
  position: absolute;
  z-index: 4;
  right: 5%;
  top: 10%;
  width: 450px;
  height: 580px;
  overflow: hidden;
  background-color: #000;
}
.AboutBox-r img {
  width: 100%;
}
.Profile-click {
  position: relative;
}
.Profile-click .Profile-tit {
  display: none;
  width: 200px;
  height: 60px;
  color: #fff;
  position: absolute;
  top: -400px;
  left: 50%;
  text-align: center;
  line-height: 60px;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.4);
}
.Profile-click:hover .Profile-tit {
  display: block;
}
.Profile-click:hover img {
  opacity: 0.5;
}
.tabBox.on .web {
  animation: fadeInUp 0.5s steps(40, end) forwards
}
.web {
  width: 100%;
}
.web .web-con {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.web .web-tit {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15%;
}
.web .web-tit img {
  width: 54px;
  height: 54px;
}
.tabButton2 {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  cursor: pointer;
}
.tabButton2.on {
  color: #8cb8d4;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.web-con .tabBox2 {
  opacity: 0;
  display: none;
}
.tabBox2.on {
  display: block;
  display: flex;
  gap: 80px;
  animation: fadeInRight 0.5s steps(40, end)forwards
}
.web .web-con .web-txt {
  display: flex;
  flex-direction: column;
  width: 48%;
  font-size: 18px;

}
.web .web-con .web-txt li {
  display: flex;
  gap: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.web .web-con .web-txt .web-txt-box li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.web .web-con .web-txt p {
  color: #333;
  line-height: 24px;
  margin-bottom: 30px;
}
.web .web-con .web-txt li h3 {
  font-weight: 600;
}
.web .web-con .web-txt li span {
  color: #000;
  align-self: center;
}

.web .web-con .web-btn {
  display: flex;
  padding-top: 30px;
}
.web .web-con .web-btn li {
  width: 60%;
  text-align: center;
  background: #66a1c6;
  border: none;
  margin: 0 auto;
}
.web .web-con .web-btn li:hover {
  background: #435763;
  transition: all 0.3s;
}
.web .web-con .web-btn li a {
  display: block;
  width: 100%;
  padding: 30px 0;
}
.web .web-con .web-btn li a span {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.web .web-img {
  width: 48%;
  align-self: center;
}
.web-img .tabButton3 + .tabButton3 {
  padding-top: 20px;
}
.web-img .tabButton3 h2 {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
  cursor: pointer;
}
.web-img .tabButton3.on h2 {
  border-bottom: 5px solid #8cb8d4;
  color: #9fc4db;
}
.web-img .tabButton3.on i {
  font-weight: 700;
  transform: rotate(180deg);
  color: #9fc4db;
}
.web-img .tabBox3 {
  height: 200px;
  overflow: hidden;
  display: none;
}
.web-img .tabBox3.on {
  display: block;
}
.web-img a img {
  width: 100%;
  height: 200px;
  transition: all 1s;
  object-fit: cover;
  object-position: top;
}
.web-img:hover a img {
  width: 100%;
  height: 200px;
}
.web-img a img:hover {
  transition: all 1.5s;
  object-position: bottom;
}
.tabBox2:nth-child(2) .web-img a .mid-img {
  transition: all 3s;
}
.tabBox2:nth-child(3) .web-img a .mid-img {
  transition: all 3s;
}
.tabBox2:nth-child(3) .web-img a .long-img {
  transition: all 4.5s;
}
.tabBox.on .me-box {
  animation: fadein 1s steps(40, end) forwards
}
.tabBox:last-child {
  position: relative;
}
.tabBox:last-child .me-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.me-box li i {
  font-size: 200px;
}
.me-box li span {
  font-size: 40px;
}
@keyframes type {
  0% {
    width: 0;
  }
  1%, 99% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: none;
  }
}
@keyframes type2 {
  0% {
    opacity: 0;
    width: 0;
  }
  1%, 99% {
    opacity: 1;
    border-right: 1px solid #000;
  }
  100% {
    opacity: 1;
    border-right: none;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(3%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
@media screen and (max-width : 1200px) {
  .openTabVertical .tab {
    width: 100px;
    left: 0;
  }
  .tabButton {
    font-size: 18px;
    line-height: 20px;
  }
  .tabButton:nth-child(1) {
    font-size: 22px;
  }
  .tabButton.on {
    text-decoration: none;
  }
  .openTabVertical .contents {
    height: 70vh;
  }
  .contents .tabBox {
    padding: 100px 60px;
  }
  .AboutBox {
    gap: 0;
  }
  .home h2:nth-child(1) {
    width: 215px;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
  }
  .home h2:nth-child(2) {
    width: 335px;
    height: 28px;
    font-size: 28px;
  }
  .home div {
    padding: 80px 0;
  }
  .home div span {
    font-size: 18px;
    line-height: 30px;
    height: 30px;
  }
  .home div span:nth-child(1) {
    width: 280px;
  }
  .home div span:nth-child(2) {
    width: 410px;
  }
  .home div span:nth-child(3) {
    width: 360px;
  }
  .AboutBox div ul {
    display: flex;
    gap: 20px;
  }
  .AboutBox div ul li img {
    width: 40px;
    height: 40px;
  }
  .AboutBox-r {
    z-index: -1;
    right: 3%;
    top: 20%;
    width: 300px;
    height: 450px;
  }
  .Profile-click {
    width: 180px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
  }
  .Profile-click .Profile-tit {
    top: -240px;
  }
  .tabButton2 {
    font-size: 34px;
  }
  .tabBox2.on {
    gap: 60px;
  }
  .web .web-con {
    gap: 100px;
  }
  .web .web-con .web-txt {
    width: 38%;
    font-size: 16px;
  }
  .web .web-con .web-txt li {
    gap: 20px;
    padding: 5px;
  }
  .web .web-con .web-txt p {
    line-height: 20px;
    margin-bottom: 20px;
  }
  .web-txt-box li {
    display: flex;
    justify-content: space-between;
  }
  .web-txt-box li span {
    width: 48%;
  }
  .web .web-img {
    width: 50%;
  }
  .web-img .tabButton3 h2 {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .web-img .tabBox3 {
    height: 150px;
  }
  .web-img a img {
    height: 150px;
  }
  .web-img:hover a img {
    height: 150px;
  }
  .web-img a img:hover {
    transition: all 1s;
  }
  .tabBox:last-child .me-box {
    gap: 80px;
    padding-top: 80px;
  }
  .me-box li span {
    font-size: 34px;
  }
}
@media screen and (max-width : 768px) {
  .openTabVertical {
    flex-direction: column;
    justify-content: center;
  }
  .openTabVertical .tab {
    width: 75%;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    padding: 0;
  }
  .tabButton {
    font-size: 18px;
    line-height: 18px;
    padding: 15px 0;
  }
  .tabButton:nth-child(1) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .openTabVertical .contents {
    height: 80vh;
  }
  .contents .tabBox {
    padding: 30px 10px;
  }
  .AboutBox {
    gap: 1%;
  }
  .home h2:nth-child(1) {
    width: 180px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
  }
  .home h2:nth-child(2) {
    width: 250px;
    height: 20px;
    font-size: 20px;
  }
  .home div {
    padding: 40px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .home div span {
    font-size: 13px;
    line-height: 20px;
    height: 20px;
  }
  .home div span:nth-child(1) {
    width: 210px;
  }
  .home div span:nth-child(2) {
    width: 290px;
  }
  .home div span:nth-child(3) {
    width: 260px;
  }
  .Profile-click {
    width: 100px;
    height: 40px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 40px;
  }
  .AboutBox-l {
    width: 100%;
  }
  .AboutBox-l .skill-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .AboutBox div ul {
    justify-content: space-between;
    gap: 0;
  }
  .AboutBox div ul li img {
    width: 34px;
    height: 34px;
  }
  .AboutBox-r {
    z-index: 5;
    right: 50%;
    top: 260px;
    height: 450px;
    transform: translate(50%, 0);
  }
  .web .web-con {
    gap: 20px;
  }
  .web .web-tit {
    justify-content: center;
    gap: 5%;
  }
  .tabButton2 {
    font-size: 24px;
  }
  .tabButton2.on {
    text-underline-offset: 5px;
  }
  .tabBox:nth-child(2) {
    padding-bottom: 0;
  }
  .tabBox2.on {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .web .web-con .web-txt {
    width: 90%;
    font-size: 16px;
  }
  .web .web-con .web-txt p {
    margin-bottom: 10px;
  }
  .web .web-con .web-txt li {
    justify-content: space-between;
    padding: 5px;
  }
  .web .web-con .web-txt li h3 {
    font-size: 16px;
  }
  .web .web-con .web-txt .web-txt-box li:first-child h3 {
    width: 90px;
  }
  .web .web-con .web-txt li span {
    font-size: 12px;
  }

  .web .web-con .web-btn {
    justify-content: center;
    padding: 10px 0;
  }
  .web .web-con .web-btn li a {
    padding: 10px 0;
  }
  .web .web-con .web-btn li a span {
    font-size: 16px;
  }

  .web .web-img {
    width: 80%;
  }
  .web-img .tabButton3 {
    display: flex;
    justify-content: space-between;
    gap: 4%;
  }
  .web-img .tabButton3 h2 {
    width: 48%;
    height: 35px;
    font-size: 18px;
  }
  .web-img .tabButton3.on i {
    font-weight: 400;
  }
  .web-img .tabBox3 {
    width: 48%;
    height: 60px;
  }
  .web-img a img {
    height: 100px;
    transition: all 0.5s;
  }
  .web-img:hover a img {
    height: 60px;
  }
  .web-img a img:hover {
    transition: all 1.0s;
  }
  .tabBox2:nth-child(2) .web-img a .mid-img {
    transition: all 2.5s;
  }
  .tabBox2:nth-child(3) .web-img a .mid-img {
    transition: all 2.5s;
  }
  .tabBox2:nth-child(3) .web-img a .long-img {
    transition: all 4s;
  }
  .tabBox:last-child .me-box {
    gap: 100px;
  }
  .me-box li i {
    font-size: 150px;
  }
  .me-box li span {
    font-size: 24px;
  }
}